
body {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  background: #F2F2F2;
}
/* Container */
.container {
  max-width: 100%;
  margin: 0 auto;
}
.banner{
  display: flex;
  justify-content: space-between;
  max-height:100%;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  background: url(images/Group7.png);
  background-repeat: no-repeat;
  background-size: 100% 100%; 
}
.banner__container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex:1;
}
/* Navegation */
.banner__nav{
  display: flex;
  align-items: center;
  background-color:#ffffff;
  padding: 16px 15px;
  max-height: 20px;
  flex-basis: 100%;
  justify-content: space-between;
}
.banner__logo{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px; 
  color: #000000;
  margin: 0;
  height: 27px;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  border-radius:24px; 
  border: 1px solid rgba(255, 255, 255, 0.2951);
  background-color: transparent;
  height: 48px;
  width: 170px;

  /* Text */
  font-family: Source Sans Pro;
  font-size: 16px;
  font-style: normal;
  color: #FFFFFF;
}
.button--yellow{
  border-radius: 0px;
  border-color: #FFC300;
  right: 0%;
  bottom: 0%; 
  background-color: #FFC300;
  border-radius: 24px;
}
.banner__icon-menu{
  display: flex;
  cursor: pointer;
  height: 15px;
}
/* wrapper-title */
.banner__wrapper-title{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 14px;
}
.banner__title{
  width: 100%;
  left: 135px;
  margin-top: 23px;
  margin-bottom: 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 64px;
  color: #FFFFFF;
}
.banner__quote{
  width: 80%;
  left: 135px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.banner__image{
  position: relative;
  left: 30px;
  display: flex;
  max-width: 754px;
  flex: 1;
}
.image__mobile{
  width: 412px
} 
.banner__social-media{
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  padding-bottom: 48px;
  gap: 8px;
}
.banner__menu{
  display: none;
}

@media (min-width: 425px){
  .image__mobile{
    width: 100%;
  }
  .banner__image{
    left: 0;
  }
}
/* large devices */
@media (min-width: 1024px){
  .container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  .banner{
    height: 808px;
    background: url(images/Group8.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
  }
  .banner__container{
    padding-top: 30px;
  }
  .banner__nav{
    background-color: transparent;
    padding: 0;
    max-height: 48px;
  }
  .banner__logo{
    height: 31px;
    width: 122px;
    font-size: 40px;
    color: #FFFFFF;
    margin: 0;
  }
  .banner__menu{  
    display: flex;
    padding: 0;
    justify-content: space-between;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0;
    list-style: none;
    margin: 0;
  }
  .menu__item{
    display: flex;
    color: #FFFFFF;
    margin-right: 30px;
    text-decoration: none;
  }
  .banner__icon-menu{
    display: none;
  }
  .button{
    display: flex;
  }
  .button--hover:hover{
    background-color: #C86DD7;
    transition: .6s;
  }
  .banner__wrapper-title{
    max-width: 370px;
    height: 500px;
  }
  .banner__title{
    width: 336px;
    margin-top: 120px;
    margin-bottom: 26px;
    font-size: 72px;
    line-height: 72px;
  }
  .banner__image{
    display: flex;
    flex: 1;
    margin-top: 60px;
    width: 100%;
  }
  .image__mobile{
    width: 100%;
  }
  .banner__social-media{
    right: 0;
    left: auto;
    justify-content: flex-end;
  }
}