
body {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  background: #FFFFFF;;
}

/* section-banner */
.container {
  max-width: 100%;
  margin: 0 auto;
}

.banner{
  display: flex;
  justify-content: space-between;
  max-height:100%;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  background: url(images/Group7.png);
  background-repeat: no-repeat;
  background-size: 100% 100%; 
}

.banner__container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex:1;
}

/* Navegation */
.banner__nav{
  align-content: flex-start;
  background-color:#ffffff;
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px 15px;
  position: fixed;
  width: calc(100% - 28px);
  z-index: 1;
}

.banner__logo{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  margin: 0;
}

.banner__menu {
  display: none;
  opacity: 0;
  font-weight: 600;
  padding: 0;
  margin-top: 80px;
  font-size: 16px;
  list-style: none;
  text-align: center;
  z-index: 1;
  width: 100%;
  font-family: Source Sans Pro;
  transition: all .6s;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  border-radius:24px; 
  border: 1px solid rgba(255, 255, 255, 0.2951);
  background-color: transparent;
  height: 48px;
  width: 170px;

  /* Text */
  font-family: Source Sans Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
}

.button--explore{
  border-radius: 0px;
  border-color: #FFC300;
  right: 0%;
  bottom: 0%; 
  background-color: #FFC300;
  border-radius: 24px;
}

.button--contact{
  background-color: #C86DD7;
  margin: 0 auto;
  z-index: 1;
  position: initial;
  top: 600px;
  text-align: center;
  line-height: 3;
}

.menu__item{
  text-decoration: none;
  font-weight: 100px;
}

.menu__li{
  padding-bottom: 50px;
}

.menu-mobile__cerrar {
  display: none;
}

.banner__nav.active{
  height: 100%;
}

.banner__nav.active .banner__menu{
  display: block;
  opacity: 1;
}

.banner__nav .fa-bars, .banner__nav .fa-times {
  font-size: 20px;
  color: #C86DD7;
  pointer-events: none;
}
.menu-mobile__abrir, .menu-mobile__cerrar{
  background-color: #FFFFFF;
  padding: 0;
  border: 0;
}

/* wrapper-title-banner */
.banner__wrapper-title{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 14px;

  margin-top: 58px;
}

.banner__title{
  width: 100%;
  left: 135px;
  margin-top: 23px;
  margin-bottom: 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 64px;
  color: #FFFFFF;
}

.banner__quote{
  width: 80%;
  left: 135px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.banner__image{
  position: relative;
  left: 30px;
  display: flex;
  max-width: 754px;
  flex: 1;
}

.image__mobile{
  width: 412px
} 

.banner__social-media{
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  padding-bottom: 48px;
  gap: 8px;
}

/* services */
.services{
  width: 100%;
}

.services__container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  text-align: center;
	height: 1550px;
}

/* wrapper-title-services */
.services__wrapper-title{
	max-height: 208px;
  display: flex;
  flex-direction: column;
  padding-bottom: 36px;
}

.services__title{
  text-align: center;
  align-self: stretch;
  color: #333333;
  font-family: Poppins;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  margin: 0;
  padding: 38px 0;
}

/* sections */
.services__sections{
	max-width: 500px; 
  padding: 0 26px;
}

.services__quote{
  font-family: Source Sans Pro;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  max-width: 570px;
}

.services__subtitle{
  font-family: Poppins;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 9px;

  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.services__subtitle::after{
  background-color: #C86DD7;
  display: block;
  bottom: 10px;
  content: "";
  opacity: 0;
  height: 8px;
  position: absolute;
  width: 100%;
  z-index: -1;
  transition: all .6s;
}

.services__description{
  font-family: Source Sans Pro;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  opacity: 0.5;
  margin: 0;
  padding-bottom: 32px;
  max-width: 402px;
}

.services__section:hover{
  box-shadow: 10px 10px 40px 0px #00000019;
  border-radius: 3px;
}

.services__section{
  z-index: 0;
  cursor: pointer;
}

.services__section:hover .services__subtitle::after{
  opacity: 1;
}

.services__image{
  padding-top: 32px;
}

/* contact */
.container-contact {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.contact{
  width: 100%;
  background: #FFFFFF;
  background-image: url(images/contact-image.png);
  height: auto;
  position: relative;
}

.contact__container{
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  flex-direction: column;
  padding-bottom: 58px;
}

.contact__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  text-align: center;
  padding: 0px 14px; 
  padding-bottom: 64px;
  padding-top: 70px;
}

.contact__line{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 1px;
  background: #000000;
  opacity: 0.1;
  position: absolute;
  bottom: 710px;
  margin: 0;
}

.contact__title{
  font-family: Poppins;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  margin: 0;
  padding-bottom: 24px;
}

.contact__quote{
  font-family: Source Sans Pro;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  max-width: 100%;
  padding-bottom: 32px;
}

.contact__input{
  font-family: Source Sans Pro;
  font-size: 16px;
  height: 48px;
  max-width: 370px;
  width: 100%; 
  margin-bottom: 16px;
  border: 1px solid rgba(0, 0, 0, 0.116);
}

.contact__input:focus{
  outline: 0 none;
}

.button--send{
  border-radius: 0px;
  border-color: #C86DD7;
  background: #C86DD7;
  border-radius: 24px;
}

.contact-container__menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 21px;
  margin-bottom: 58px;
}

.contact__menu{
  justify-content: space-between;
  font-family: Source Sans Pro;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0;
  list-style: none;
  padding-left: 14px;
  margin-top: 40px; 
}

.contact-menu__item{
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  line-height: 32px;
  opacity: 0.5;
}

.contact-menu__item--bold{
  text-decoration: none;
  color: #333333;
  line-height: 32px;
}

.contact__info{
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding-left: 14px;
}

.social-media__icon-contact{
  filter: brightness(0) saturate(100%) invert(71%) sepia(27%) saturate(7496%) hue-rotate(235deg) brightness(89%) contrast(88%);
}

.contact__copyright{
  font-family: Source Sans Pro;
  font-weight: 400;
  margin: 0;
  margin-top: 14px;
  opacity: 0.5;
  color: #333333;
}

@media (min-width: 425px){
  .image__mobile{
    width: 100%;
  }

  .banner__image{
    left: 0;
  }
  .contact__quote{
    max-width: 570px;
  }

  .contact-container__menu{
    justify-content: flex-start;
    height: auto;
    flex-direction: row;
  }

  .contact__menu{
    width: 20%;
    padding-right: 50px;
  }
}
/* Medium devices */

/* large devices */
@media (min-width: 1024px){
  .container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }

  .banner{
    height: 808px;
    background: url(images/Group8.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
  }

  .banner__container{
    padding-top: 30px;
  }

  .banner__nav{
    background-color: transparent;
    padding: 0;
    max-height: 48px;
    position: relative;
    z-index: 0;
    height: auto;
  }
 .menu-mobile__cerrar, .menu-mobile__abrir{
   display: none;
 }
  .banner__logo{
    height: 31px;
    width: 122px;
    font-size: 40px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
  }
  .banner__menu{  
    display: flex;
    justify-content: space-between;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    list-style: none;
    margin: 0;
    z-index: 0;
    background-color: transparent;
    position: relative;
    width: auto;
    top: auto;
    align-items: center;
    opacity: 1;
    transition: none;
  }
  .li-final{
    padding-right: 209px;
  }
  .menu__item{
    display: flex;
    color: #FFFFFF;
    margin-right: 30px;
    text-decoration: none;
  }

  .banner__icon-menu{
    display: none;
  }
  .menu__li{
    padding: 0;
  }
  .button{
    display: flex;
  }
  .button--contact{
    background-color: transparent;
    margin: 0;
    z-index: 0;
    position: relative;
    top: 0;
  }
  .button--contact:hover{
    background-color: #C86DD7;
    transition: .6s;
  }

  .banner__wrapper-title{
    max-width: 370px;
    height: 500px;
    margin-top: 0;
  }

  .banner__title{
    width: 336px;
    margin-top: 120px;
    margin-bottom: 26px;
    font-size: 72px;
    line-height: 72px;
  }

  .banner__image{
    display: flex;
    flex: 1;
    margin-top: 60px;
    width: 100%;
  }

  .image__mobile{
    width: 100%;
  }

  .banner__social-media{
    right: 0;
    left: auto;
    justify-content: flex-end;
  }

  /* services */
  .services__container{
		height: auto;
    display: flex;
    align-items: center;
    padding-top: 71px;
    padding-bottom: 76px;
  }

  .services__title {
    font-size: 56px;
    line-height: 64px;
    padding-top: 0;
    padding-bottom: 23px;
  }

  .services__quote{
    margin: 0;
  }

  .services__sections{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
		margin: 0;
    margin-bottom: 40px;
    padding: 0;
  }

  .services__section{
    text-align: center;
    height: 244px;
    width: 370px;
  }

  .services__image, .services__image-consequuntur{
    padding-top: 40px;
  }

  .services__description{
    max-width: 322px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
  } 
}

/* Medium devices */
@media screen and (min-width: 768px){
  .image__mobile{
    max-width: 754px;
  }
}

@media (min-width: 425px){
.contact__line {
    bottom: 375px;
  }
}

@media (min-width: 1111px){
  /* contact */
  .contact{
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .contact__container{
    flex-direction: row;
    justify-content: center;
    padding-bottom: 74px;
  }

  .contact__quote{
    display: inline-flex;
  }

  .contact__input{
    margin: 0;
    margin-right: 30px;
  }

  .contact__info{
    padding-left: 0;
  }

  .button--send{
    display: inline-block;
    
  }

  .contact__menu{
    padding: 0;
    padding-right: 216px;
    margin: 0;
  }

  .contact__line {
    bottom: 254px;
  }

  .contact__wrapper{
    display: inline-block;
    padding: 0;
    padding-bottom: 160px;
    padding-top: 135px;
  }
  
  .contact-container__menu{
  display: inline-flex;
  padding-top: 53px;
  margin: 0;
  }
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.hide {
  display: none ;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}