
body {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  background: #F2F2F2;
  /* background-image: url("images/Group 8.png"); */
}

/* Container */
.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  max-height: 100vh;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: thistle;
}

.banner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Navegation */
.banner__nav{
  display: flex; 
  align-items: baseline;
  flex-basis: 100%;
  justify-content: space-between;
}
.banner__logo{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  line-height: 48px;
  font-size: 40px;
  color: #FFFFFF;
}

 .banner__menu{  
  display: flex;
  padding: 0;
  justify-content: space-between;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0;
  list-style: none;
}
.menu__item{
  display: flex;
  color: #FFFFFF;
  margin-right: 30px;
  text-decoration: none;
}
.banner__icon-menu{
  display: none;
} 
/* Buttons */
.button__button--yellow{
  left: 135px;
  top: 528px;
  border-radius: 0px;
  border-color: #FFC300;
  right: 0%;
  bottom: 0%; 
  background: #FFC300;
  border-radius: 24px;
}
 
button, .button{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  border-radius:24px; 
  border: 1px solid rgba(255, 255, 255, 0.2951);
  background-color: transparent;
  height: 48px;
  width: 170px;

  /* Text */
  font-family: Source Sans Pro;
  font-size: 16px;
  font-style: normal;
  color: #FFFFFF;
}
.button:hover{
  background-color: #C86DD7;
  transition: .6s;
}
/* Text Principal */
.banner__wrapper-title{
  display: inline-flex;
  flex-direction: column;
}

.banner__title{
  height: 144px;
  width: 336px;
  left: 135px;
  margin-top: 120px;
  margin-bottom: 26px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 72px;
  color: #FFFFFF;
}

.banner__quote{
  height: 96px;
  width: 370px;
  left: 135px;  
  border-radius: nullpx;     
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

/* Svg  */
 .banner__image{
  display: flex;
  margin-top: 3%;
  max-width: 754.48px;
  height: 790.52px;
  border-radius: 0px 
}  
.banner__social-media{
  position: absolute;
  bottom: 0;
  right: 0;
}
.social-media__icon{
  height: 32px;
  width: 32px;
  margin-bottom: 48px;
  border-radius: 0px;
}

 /* Medium devices */
@media screen and (max-width: 767.98px){
    .container{
      width: 100%;
      height: 900px;
      max-height:100% ;
    }
    .banner__logo{
      color: #000000;
      margin: 20px;
    }
    .banner__nav{
      align-items: center;
      background-color:#ffffff;
      max-height: 90px;
    }
    .banner__icon-menu{
      display: flex;
      margin-right: 15px;
      height: 20px;
    }
    .banner__menu, .button{
      display: none;
    }
    .banner__title{
      width: 100%;
      height: 70px;
      margin-top:23px;
    }
    .banner__quote{
      width: 420px;
    }
    .banner__image{
      margin-top: 0;
      margin-left: 100px;
      height: 762.71px;
      border-radius: 0px;
    }
    .banner__social-media{
      right: 40%;
      margin-bottom: 30px;
    }
}

/* Small devices */
@media screen and (max-width: 575.98px){
   .container{
     display: flex;
   }
   .banner__title{
    height: 128px;
    width: 260.99px;   
   }
   .banner__image{
     margin: 0;
   }
   .banner__social-media{
     height: 26px;    
   }
}  

